*, *:before, *:after {
  box-sizing: border-box;
}

html {
  overflow-y: scroll;
}

body {
  background: #c1bdba;
  font-family: 'Titillium Web', sans-serif;
}

a {
  text-decoration: none;
  color: #1ab188;
  transition: .5s ease;
}
a:hover {
  color: #179b77;
}
/* Fixed sidenav, full height */
.text{
	display: block;
	width:50%;
	margin-left:30%;
	margin-right:20%;
	margin-top: 10%;
	padding: 2%;
	background: rgba(19, 35, 47, 0.9);
  	color: #a0b3b0;
  
}
.logo{
	width:150px;
	height:150px;
	margin-bottom: 50px;
}
.sidenav {
  height: 100%;
  width: 200px;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  background: rgba(19, 35, 47, 0.9);
  border-radius: 4px;
  box-shadow: 0 4px 10px 4px rgba(19, 35, 47, 0.3);
  overflow-x: hidden;
}

/* Style the sidenav links and the dropdown button */
.sidenav a.link, .dropdown-btn {
  padding: 6px 8px 6px 16px;
  text-decoration: none;
  font-size: 20px;
  color: #a0b3b0;
  background: rgba(160, 179, 176, 0.25);
  display: block;
  width:100%;
  text-align: left;
  cursor: pointer;
  outline: none;
}

/* On mouse-over */
.sidenav a.link:hover, .dropdown-btn:hover {
  background: #179b77;
  color: #ffffff;
}

/* Main content */
.main {
  margin-left: 200px; /* Same as the width of the sidenav */
  font-size: 20px; /* Increased text to enable scrolling */
  padding: 0px 10px;
}

/* Add an active class to the active dropdown button */
.active {
  background: #179b77;
  color: white;
}

/* Dropdown container (hidden by default). Optional: add a lighter background color and some left padding to change the design of the dropdown content */
.dropdown-container {
  display: none;
  background: rgba(19, 35, 47, 0.9);
  padding-left: 8px;
}

/* Optional: Style the caret down icon */
.fa-caret-down {
  float: right;
  padding-right: 8px;
}